<div class="home-wrapper">
  <%= render 'layouts/header'%>
  <div class="row">
    <div class="large-12 columns text-center">
      <div class="home-button">
        <h1 class='home-border'>
          <%=link_to 'Find the Snow', today_path, class:'white'%></h1>
      </div>
    </div>
  </div>
</div>

<script src="snowfall.jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).snowfall({shadow : true, round : true,  minSize: 5, maxSize:8});

    $("#clear").click(function(){
        $(document).snowfall('clear');
    });
  });
</script>