<h4>Terrain Status</h4>
<table>
  <thead>
    <tr>
      <th width="200" class="text-center">Lifts Running</th>
      <th width="200" class="text-center">Runs Open</th>
      <th width="200" class="text-center">Acres Open</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><%=@mountain.lifts_open%></td>
      <td class="text-center"><%=@mountain.runs_open%></td>
      <td class="text-center"><%=@mountain.acres_open%></td>
    </tr>
  </tbody>
</table>