<div class="tabs-content" data-equalizer>
  <%@mountain.peaks.each do |peak|%>
    <%if peak.trails.present?%>
    <%@count = peak.trails.count / 2%>
      <div class="content" id="panel<%=peak.id%>">
        <div class="large-6 columns">
          <table>
            <thead>
              <tr>
                <th class="diff text-center">Difficulty</th>
                <th width="140" class="text-center">Trail</th>
                <th class="status text-center">Open</th>
              </tr>
            </thead>
              <%peak.trails[0..@count].each do |trail|%>
                <%= render partial: "trail_data", locals: {trail: trail}%>
              <%end%>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="large-6 columns">
          <table>
            <thead>
              <tr>
                <th class="diff text-center">Difficulty</th>
                <th width="140">Trail</th>
                <th class="status text-center">Open</th>
              </tr>
            </thead>
            <tbody>
              <%peak.trails[(@count+1)..-1].each do |trail|%>
                <%= render partial: "trail_data", locals: {trail: trail}%>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    <%end%>
  <%end%>
</div>