<div class="today-wrapper"><br>
  <div class="row">
    <div class="large-12 columns">
      <h1>Denver, CO</h1>
    </div>
    <div class="large-1 columns text-right" style="padding-top: 10px;">
      <p><%=@time%></p>
    </div>
    <div class="large-11 columns">
      <h3>| 23℉</h3 >
    </div>
  </div>
</div>

<div class="today-body">
  <div class="row">
    <div class="large-12 columns text-center">
      <h1><%=@mountain.name%></h1>
    </div>
  </div>
</div>
