<div class="row" data-equalizer>
  <% @trails.each do |trail| %>
    <div class="large-6 columns panel" data-equalizer-watch>
      <div class="large-11 columns text-center">
        <tr>
          <td><%= trail.difficulty %> |</td>
          <td><%= trail.name %> |</td>
          <%= render partial: "shared/open_status", locals: {trail: trail}%>
        </tr>
      </div>
    </div>
  <%end%>
</div>