<div class="today-body">
  <div class="row">
    <div class="nav-center">
      <%= render partial: 'layouts/nav_bar'%>
    </div>
  </div><br/>
  <div class="row">
    <h1>Search Results</h1>
    <%= render partial: 'mountain_results', locals: {mountains: @mountains} %>
    <%= render partial: 'peak_results', locals: {peaks: @peaks} %>
    <%= render partial: 'trail_results', locals: {trails: @trails} %>
  </div>
</div>