<div class="today-body">
  <div class="row">
    <div class="nav-center">
      <%=render 'layouts/nav_bar'%>
    </div>
  </div><br/>
  <div class="row" data-equalizer>
    <h1>Search Results</h1>
    <%=render 'search/mountain_results'%>
    <%=render 'search/peak_results'%>
    <%=render 'search/trail_results'%>
  </div>
</div>