<div class="home-wrapper">
  <%= render 'layouts/header'%>
  <div class="row">
    <div class="large-12 columns text-center">
      <div class="home-button">
        <h1 class='home-border' id="white">
          <%=link_to 'Find the Snow', today_path, class:'white'%></h1>
      </div>
    </div>
  </div>
</div>