<%if trail.beginner?%>
    <td class="text-center"><i class="fi-record" style="color: green;"></td>
  <%elsif trail.intermediate?%>
    <td class="text-center"><i class="fi-stop" style="color: blue;"></td>
  <%elsif trail.advanced?%>
    <td class="text-center"><%=image_tag("diamond.png")%></td>
  <%elsif trail.expert?%>
    <td class="text-center"><%=image_tag("diamond.png")%><%=image_tag("diamond.png")%></td>
  <%elsif trail.park?%>
    <td class="text-center"><i class="fi-burst" style="color: orange;"></td>
  <%else%>
    <td><%=trail.difficulty%></td>
<%end%>