<div class="large-6 columns panel">
  <div class="large-8 columns left-box text-center">
    <h3><%=link_to "<i class='fi-info small'> #{mountain.name}".html_safe, "/#{mountain.slug}" %></i></h3>
    <div class="large-4 overnight columns">
      <h1><%= mountain.overnight %></h1>
    </div>
    <div class="large-6 columns today-temp">
      <h2><%= mountain.weather_reports.first.current_temp %> ℉</h2>
    </div>
    <%if !check_open_status(mountain)%>
      <h1>Closed</h1>
    <%end%>
  </div>
  <%= render partial: "shared/panel_terrain_report", locals: {mountain: mountain}%>
</div>