<div class="large-4 columns text-center" style="padding-top: 3%;">
  <p>Terrain Report</p>
  <small>Acres Open : <%=mountain.acres_open%></small><br>
  <small>Lifts Open : <%=mountain.lifts_open%></small><br>
  <small>Runs Open : <%=mountain.runs_open%></small>
</div>