<div class="row">
  <div class="large-12 columns text-right">
    <div class="home-login">
      <h5><%=link_to "Login with Twitter <i class='fi-social-twitter'></i>".html_safe, "/auth/twitter", class:'white'%></h5>
    </div>
  </div>
</div>

