<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
  </ul>

  <section class="top-bar-section">
    <ul class="right" id="white">
      <%if current_user.present?%>
        <%=current_user.name%>
      <%else%>
        <li><%=link_to "Login with Twitter <i class='fi-social-twitter'></i>".html_safe, "/auth/twitter"%></a></li>
      <% end %>
      <li class="has-dropdown">
        <a href="#">Resorts</a>
        <ul class="dropdown">
          <li><a href="/breckenridge-resort">Breckenridge</a></li>
          <li><a href="/keystone-resort">Keystone</a></li>
          <li><a href="arapahoe-basin">A basin</a></li>
          <li><a href="vail-resort">Vail</a></li>
        </ul>
      </li>
    </ul>

    <ul class="left">
      <li><a href="/today">SnowMaps</a></li>
      <li>
        <div class="row collapse">
          <%= render :partial => 'search/search' %>
        </div>
      </li>
    </ul>
  </section>
</nav>